<log4net>
  <appender name="RollingFileAppenderVerbose" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\SpaceOddityVerbose.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <PreserveLogFileNameExtension value="true" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="" />
      <param name="Footer" value="" />
      <param name="ConversionPattern" value="%d [%t] [%property{methodname}] [%property{loggingcontext}]  %-5p %m%n" />
    </layout>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\SpaceOddity.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <PreserveLogFileNameExtension value="true" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="" />
      <param name="Footer" value="" />
      <param name="ConversionPattern" value="%d [%t] [%property{methodname}] [%property{loggingcontext}]  %-5p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
    </filter>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="[Header]\r\n" />
      <param name="Footer" value="[Footer]\r\n" />
      <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
    </filter>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppenderVerbose" />
    <appender-ref ref="RollingFileAppender" />
    <!--<appender-ref ref="ConsoleAppender" />-->
  </root>
</log4net>